#Должны игнорироваться:
#временные файлы
~
#графические файлы
*.png
*.jpg
*.ico
#файлы базы данных
.sql
#файлы с расширением min.js
*.min.js
#файл config в каждой папке
/admin/
/foto_admin/
/fotografii/
/html/
config*.php
